@font-face {
  font-family: 'ElCamino';
  src: url('./assets/fonts/ElCaminoRegular.ttf');
}

@font-face {
  font-family: 'NexaRust';
  src: url('./assets/fonts/Fontfabric\ -\ Nexa\ Rust\ Sans\ Black.otf'); /* letter-spacing: 3px; */
}

h1 {
  font-family: ElCamino;
  font-weight: bolder;
}

h2 {
  font-family: NexaRust;
}

.nav-link {
  font-family: NexaRust;
  letter-spacing: 3px;
}